
@using PengBugTracker.Models
@using PengBugTracker.Helpers
@model IEnumerable<UserProfileViewModel>
@{
    ViewBag.Title = "UserIndex";
    var roleHelper = new RoleHelper();
}

<style>
    .avatar {
        
        display:block;
        
        width: 40px;
        height: 40px;
        border-radius: 50%;
        padding: 0px 0px !important;
    }
</style>

<h2>
    <button type="button" class="btn btn-primary btn-lg btn-block">User Index</button>     

</h2>

<div class="row">
    <div class="col-md-12">
        <div class="card">
            
            <div class="card-body">
                <div class="toolbar">
                    <!--        Here you can write extra buttons/actions for the toolbar              -->
                </div>
                <div class="material-datatables">
                    <table id="datatables" class="table table-striped table-no-bordered table-hover" cellspacing="0" width="100%" style="width:100%">
                        <thead>
                            <tr>
                                <th>
                                    @Html.DisplayName("Avatar")
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model=>model.Email)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model=>model.FirstName)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model=>model.LastName)
                                </th>
                                <th>
                                    @Html.DisplayName("Role")
                                </th>

                                <th class="disabled-sorting text-right">
                                @Html.DisplayName("Manage Others")
                                </th>
                            </tr>
                        </thead>
                        
                        <tbody>
                            @foreach (var user in Model)
                            {
                                <tr>
                                    <td class="avatar">
                                        @if (!string.IsNullOrEmpty(user.AvatarUrl))
                                        {
                                            <img src="@Url.Content(user.AvatarUrl)" class="img-responsive avatar" />
                                        }
                                        else
                                        {
                                            <img src="@Url.Content("~/Uploads/Default-avatar.jpg")" class="img-responsive avatar" />
                                        }                     
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => user.Email)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => user.FirstName)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => user.LastName)
                                    </td>
                                    <td>
                                        @roleHelper.ListUserRoles(user.Id).FirstOrDefault()
                                    </td>
                                    <td class="text-right">



                                        



                                        @*<a href="#" class="btn btn-link btn-info btn-just-icon like"><i class="material-icons">favorite</i></a>
           <a href="#" class="btn btn-link btn-warning btn-just-icon edit"><i class="material-icons">dvr</i></a>
        <a href="#" class="btn btn-link btn-danger btn-just-icon remove"><i class="material-icons">close</i></a>*@
                                        @Html.ActionLink("Assign Role ", "ManageUserRole", "Admin", new { userId = user.Id }, new { @class = "btn btn-outline-primary btn-sm", onclick = "return confirm" })
                                        @Html.ActionLink("Assign Projects", "ManageUserProjects", "Admin",  new { userId = user.Id }, new { @class = "btn  btn-primary btn-sm", onclick = "return confirm" })
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
            <!-- end content-->
        </div>
        <!--  end card  -->
    </div>
    <!-- end col-md-12 -->
</div>
