
@model IEnumerable<PengBugTracker.Models.UserProjectListViewModel>

@{
    ViewBag.Title = "Project Assignments";
}
@*Assigning Project to Managers*@
<h2>Assigning Project to Users</h2>

<div class="row">
    <div class="col-md-4">
        <div class="card">
            <div class="card-body">
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()
                    @Html.Hidden("ProjectId", (int)ViewBag.ProjectId)

                    <div class="col">
                        @if (User.IsInRole("Admin"))
                        {
                            <div class="row">
                                <div class="col-md-12">
                                    <h3>Project Managers</h3>
                                    @Html.DropDownList("ProjectManagerId", null, "--Select--", new { @class = "rolelist" })
                                </div>
                            </div>
                            <hr />
                        }
                        <div class="row">
                            <div class="col-md-12">
                                <h3>Developers</h3>
                                @Html.ListBox("Developers", null, new { @class = "itemlist" })
                            </div>
                        </div>
                        <hr />
                        @*<div class="row">
                            <div class="col-md-12">
                                <h3>Submitters</h3>
                                @Html.ListBox("Submitters", null, new { @class = "itemlist" })
                            </div>
                        </div>*@
                        <hr />
                        <div class="col pt-3">
                            <button type="submit" class="btn btn-primary">Assign</button>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

<div>
@Html.ActionLink("Back to List", "MyIndex")
</div>


@section scripts{

    <script src="~/assets/extra-libs/DataTables/datatables.min.js"></script>

    <script>
        $('#projects').DataTable();
    </script>

}
